.max-w-screen-xl.mx-auto.px-4.sm:px-6.lg:px-8
  %h2.text-4xl.font-medium.md:mb-20
    Case Studies

  .font-serif.text-gray-700.leading-relaxed.text-lg.md:text-2xl.italic.divide-y.divide-dashed
    .vc-study.flex.md:flex-row.flex-col.md:space-x-10.items-center.py-10
      = image_tag "portraits/rory.jpg", class: "h-60 w-60 my-6 md:my-0 mx-auto object-contain rounded-full"
      .space-y-4.px-3
        %h3.text-3xl.font-medium Rory, Executive Assistant
        %p
          Rory is an executive assitant to three c-level executives. She's screening their email to ensure only relevant correspondence reaches them.
        %p
          Due to a recent press release about a new funding round, all executive email accounts are flooded with unsolicited cold sales emails. Cold sellers follow up twice on average.
        %p
          Rory uses Enough Email to effortlessly block intrusive sender domains and is at peace knowing their consecutive emails will not reach any of the executive inboxes in future.


    .vc-study.flex.md:flex-row.flex-col-reverse.md:space-x-10.items-center.py-10
      .space-y-4.px-3
        %h3.text-3xl.font-medium Raj, CTO
        %p
          Raj has recently lost his best engineer Ash. At an exit interview Ash told Raj that a recruiter had invited her for a coffee via work email. This has eventually lead Ash to a new career opportunity.
        %p
          Raj was upset to find out that it was the same recruiter who had emailed him weeks ago to offer interviews with other available engineers. His company does not work with external recruiters.

        %p
          Raj has applied an "Unethical UK Recruiters" filter from Enough Email to protect his entire organization from similar situations in future.
      = image_tag "portraits/raj.jpg", class: "h-60 w-60 my-6 md:my-0 mx-auto object-contain rounded-full"


    .vc-study.flex.md:flex-row.flex-col.md:space-x-10.items-center.py-10
      = image_tag "portraits/jasmine.jpg", class: "h-60 w-60 my-6 md:my-0 mx-auto object-contain rounded-full"
      .space-y-4.px-3
        %h3.text-3xl.font-medium Jasmine, Productivity Geek
        %p
          Jasmine works for a small, globally distributed SaaS that builds integrations between cloud services. The company uses email for async communication with their clients.

        %p
          Due to the nature of work, they also need to sign up to a lot of online tools that they write integrations for, which inevitably leads to an avalanche of newsletters. Some of them are very hard to unsubscribe from.

        %p
          Jasmine and her colleagues use Enough Email to filter such correspondence. They love it, because it's easier than unsubscribing, and one person's effort benefits everyone. They also feel at ease knowing that their Enough Email filters only skip the inbox and prevent notifications, but all filtered email can still be found if needed.