.px-6.max-w-screen-md.mx-auto
  %h2.text-3xl.font-bold.mt-20.mb-10 How it works
  %ol.relative.border-l.border-gray-200.dark:border-gray-700
    %li.mb-10.ml-4
      .absolute.w-3.h-3.bg-gray-200.rounded-full.border.border-white.dark:bg-gray-700{:class => "mt-1.5 -left-1.5"}
      %time.mb-1.text-sm.font-normal.leading-none.text-gray-400.dark:text-gray-500 Step 1
      %h3.text-lg.font-semibold.text-gray-900.dark:text-white Admin setup
      %p.mb-4.text-base.font-normal.text-gray-500.dark:text-gray-400
        Someone from your organization who has admin rights on your Google Workplace will need to sign in to Enough Email and follow instructions to set things up. This will take around 15mins.
    %li.mb-10.ml-4
      .absolute.w-3.h-3.bg-gray-200.rounded-full.border.border-white.dark:bg-gray-700{:class => "mt-1.5 -left-1.5"}
      %time.mb-1.text-sm.font-normal.leading-none.text-gray-400.dark:text-gray-500 Step 2
      %h3.text-lg.font-semibold.text-gray-900.dark:text-white Role setup
      %p.text-base.font-normal.text-gray-500.dark:text-gray-400
        Select trusted colleagues who will have permissions to create organization-wide filters. It could be just one person, or everyone at your organization - it's up to you. They will receive an onboarding instruction email.
    %li.mb-10.ml-4
      .absolute.w-3.h-3.bg-gray-200.rounded-full.border.border-white.dark:bg-gray-700{:class => "mt-1.5 -left-1.5"}
      %time.mb-1.text-sm.font-normal.leading-none.text-gray-400.dark:text-gray-500 Step 3
      %h3.text-lg.font-semibold.text-gray-900.dark:text-white Apply filter lists
      %p.text-base.font-normal.text-gray-500.dark:text-gray-400
        To get instant value, Enough Email offers some predefined Filter Lists to bulk-block known offenders. You can apply selected Filter Lists with one click to protect your entire organization.
    %li.mb-10.ml-4
      .absolute.w-3.h-3.bg-gray-200.rounded-full.border.border-white.dark:bg-gray-700{:class => "mt-1.5 -left-1.5"}
      %time.mb-1.text-sm.font-normal.leading-none.text-gray-400.dark:text-gray-500 Step 4
      %h3.text-lg.font-semibold.text-gray-900.dark:text-white Custom Filters
      %p.text-base.font-normal.text-gray-500.dark:text-gray-400
        Whenever a trusted colleague receives an unwanted email, they can forward it to one of the predefined email addresses that blocks the sender or sender's entire domain - going forward these emails will be automatically archived for everyone.
    %li.ml-4
      .absolute.w-3.h-3.bg-gray-200.rounded-full.border.border-white.dark:bg-gray-700{:class => "mt-1.5 -left-1.5"}
      %time.mb-1.text-sm.font-normal.leading-none.text-gray-400.dark:text-gray-500 Step 5
      %h3.text-lg.font-semibold.text-gray-900.dark:text-white Review
      %p.text-base.font-normal.text-gray-500.dark:text-gray-400
        You can review who and when created new filters by logging in to Enough Email any time.
