.relative.max-w-screen-xl.mx-auto.px-4.sm:px-6.lg:px-8
  .pricing-box.max-w-lg.mx-auto.rounded-lg.shadow-lg.overflow-hidden.lg:max-w-none.lg:flex
    .bg-white.px-6.py-8.lg:flex-shrink-1.lg:p-12
      %h3.text-2xl.leading-8.font-extrabold.text-gray-900.sm:text-3xl.sm:leading-9
        Pricing
      .mt-6.text-base.leading-6.text-gray-500
        .text-lg.text-gray-900
          %span.relative.inline-flex.text-white
            %span.block.p-1.absolute.inset-0.bg-indigo-600
            %span.relative Pays for itself
          %span by reducing the risk of poached employees and minimizing the time
          %span.font-medium.underline everyone
          %span spends managing their inbox.
      .mt-8
        .flex.items-center
          %h4.flex-shrink-0.pr-4.bg-white.text-sm.leading-5.tracking-wider.font-semibold.uppercase.text-indigo-600
            What's included
          .flex-1.border-t-2.border-gray-200
        %ul.mt-8.lg:grid.lg:grid-cols-2.lg:col-gap-8.lg:row-gap-5
          %li.flex.items-start.lg:col-span-1
            .flex-shrink-0
              %svg.h-6.w-6.mr-2{:fill => "#10b981", :height => "6", :stroke => "currentColor", :viewbox => "0 0 1792 1792", :width => "6", :xmlns => "http://www.w3.org/2000/svg"}
                %path{:d => "M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"}
            %p.ml-3.text-sm.leading-5.text-gray-700
              Free 2 week trial
          %li.flex.items-start.lg:col-span-1
            .flex-shrink-0
              %svg.h-6.w-6.mr-2{:fill => "#10b981", :height => "6", :stroke => "currentColor", :viewbox => "0 0 1792 1792", :width => "6", :xmlns => "http://www.w3.org/2000/svg"}
                %path{:d => "M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"}
            %p.ml-3.text-sm.leading-5.text-gray-700
              Organization-wide filters
          %li.flex.items-start.lg:col-span-1
            .flex-shrink-0
              %svg.h-6.w-6.mr-2{:fill => "#10b981", :height => "6", :stroke => "currentColor", :viewbox => "0 0 1792 1792", :width => "6", :xmlns => "http://www.w3.org/2000/svg"}
                %path{:d => "M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"}
            %p.ml-3.text-sm.leading-5.text-gray-700
              Optional 1:1 setup session
          %li.flex.items-start.lg:col-span-1
            .flex-shrink-0
              %svg.h-6.w-6.mr-2{:fill => "#10b981", :height => "6", :stroke => "currentColor", :viewbox => "0 0 1792 1792", :width => "6", :xmlns => "http://www.w3.org/2000/svg"}
                %path{:d => "M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"}
            %p.ml-3.text-sm.leading-5.text-gray-700
              Filter creation via email forwarding
          %li.flex.items-start.lg:col-span-1
            .flex-shrink-0
              %svg.h-6.w-6.mr-2{:fill => "#10b981", :height => "6", :stroke => "currentColor", :viewbox => "0 0 1792 1792", :width => "6", :xmlns => "http://www.w3.org/2000/svg"}
                %path{:d => "M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"}
            %p.ml-3.text-sm.leading-5.text-gray-700
              Predefined Filter Lists
          %li.flex.items-start.lg:col-span-1
            .flex-shrink-0
              %svg.h-6.w-6.mr-2{:fill => "#10b981", :height => "6", :stroke => "currentColor", :viewbox => "0 0 1792 1792", :width => "6", :xmlns => "http://www.w3.org/2000/svg"}
                %path{:d => "M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"}
            %p.ml-3.text-sm.leading-5.text-gray-700
              Unlimited moderators
    .py-8.px-6.text-center.bg-gray-50.lg:flex-shrink-0.lg:flex.lg:flex-col.lg:justify-center.lg:p-12
      %p.text-lg.leading-6.font-bold.text-gray-900
        Early Bird
      .mt-4.flex.items-center.justify-center.text-5xl.leading-none.font-extrabold.text-gray-900
        %span
          £3/month
      %p.mt-4.text-sm.leading-5
        %span.block.font-medium
          Per organization member
        %span.inline-block.font-medium.text-gray-500
          When subscribing for a year*
      .mt-6
        .rounded-md.shadow
          = button_to user_google_oauth2_omniauth_authorize_path, method: :post, :data => {turbo: "false"}, class: "py-2 px-4 bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg" do
            Start 2 week trial
      .mt-4
        = mail_to "support@enoughemail.com", "Contact us", class: "text-gray-800 hover:underline"
      .mt-4.text-xs.text-gray-700.max-w-xs
        * For Early Bords annual price will remain fixed for the year, regardless of how much your organization grows.