%div
  %section.mb-40
    .relative.overflow-hidden.bg-gradient-to-b.from-gray-900.via-purple-900.to-violet-600
      .h-96.md:my-16
    .container.mx-auto.px-6.md:px-12.xl:px-32
      .text-center.text-gray-800
        .block.rounded-lg.shadow-lg.px-6.py-12.md:py-16.md:px-12.-mt-48{:style => "background: hsla(0, 0%, 100%, 0.7); backdrop-filter: blur(30px);"}
          %h1.text-5xl.md:text-6xl.xl:text-7xl.font-bold.tracking-tight.mb-12
            Protect your organization
            %br/
            %span.text-indigo-600 from unwanted email
          .flex.justify-center
            = button_to user_google_oauth2_omniauth_authorize_path, method: :post, :data => {turbo: "false"}, class: "inline-block px-7 py-3 mb-2 md:mb-0 mr-0 md:mr-2 bg-indigo-600 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-indigo-700 hover:shadow-lg focus:bg-indigo-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-indigo-800 active:shadow-lg transition duration-150 ease-in-out" do
              .flex
                %svg.mr-2.-ml-1.w-4.h-4{"aria-hidden" => "true", "data-icon" => "google", "data-prefix" => "fab", :focusable => "false", :role => "img", :viewbox => "0 0 488 512", :xmlns => "http://www.w3.org/2000/svg"}
                  %path{:d => "M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z", :fill => "currentColor"}
                Sign in with Google

            -# %a.inline-block.px-7.py-3.text-white.font-medium.text-sm.leading-snug.bg-transparent.text-indigo-600.font-medium.text-xs.leading-tight.uppercase.rounded.hover:text-indigo-700.hover:bg-gray-100.focus:bg-gray-100.focus:outline-none.focus:ring-0.active:bg-gray-200.transition.duration-150.ease-in-out{:href => "#!", :role => "button"} Learn more


    .container.my-24.px-6.mx-auto
      %section.mb-32.text-gray-800.text-center
        %h2.text-3xl.font-bold.mb-20 Why is Enough Email great?
        .grid.lg:gap-x-12.lg:grid-cols-3
          .mb-12.lg:mb-0
            .rounded-lg.shadow-lg.h-full.block.bg-white
              .flex.justify-center
                .p-4.bg-indigo-600.rounded-full.shadow-lg.inline-block.-mt-8
                  %svg.w-8.h-8.text-white{:viewbox => "0 0 512 512", :xmlns => "http://www.w3.org/2000/svg"}
                    %path{:d => "M192 208c0-17.67-14.33-32-32-32h-16c-35.35 0-64 28.65-64 64v48c0 35.35 28.65 64 64 64h16c17.67 0 32-14.33 32-32V208zm176 144c35.35 0 64-28.65 64-64v-48c0-35.35-28.65-64-64-64h-16c-17.67 0-32 14.33-32 32v112c0 17.67 14.33 32 32 32h16zM256 0C113.18 0 4.58 118.83 0 256v16c0 8.84 7.16 16 16 16h16c8.84 0 16-7.16 16-16v-16c0-114.69 93.31-208 208-208s208 93.31 208 208h-.12c.08 2.43.12 165.72.12 165.72 0 23.35-18.93 42.28-42.28 42.28H320c0-26.51-21.49-48-48-48h-32c-26.51 0-48 21.49-48 48s21.49 48 48 48h181.72c49.86 0 90.28-40.42 90.28-90.28V256C507.42 118.83 398.82 0 256 0z", :fill => "currentColor"}
              .p-6
                %h5.text-lg.font-semibold.mb-4 Onboarding Support
                %p
                  If required, you'll get free onboarding support to get you up and running. The setup is simple and works with your existing Google Workplace account.
          .mb-12.lg:mb-0
            .rounded-lg.shadow-lg.h-full.block.bg-white
              .flex.justify-center
                .p-4.bg-indigo-600.rounded-full.shadow-lg.inline-block.-mt-8
                  %svg.w-8.h-8.text-white{:viewbox => "0 0 512 512", :xmlns => "http://www.w3.org/2000/svg"}
                    %path{:d => "M466.5 83.7l-192-80a48.15 48.15 0 0 0-36.9 0l-192 80C27.7 91.1 16 108.6 16 128c0 198.5 114.5 335.7 221.5 380.3 11.8 4.9 25.1 4.9 36.9 0C360.1 472.6 496 349.3 496 128c0-19.4-11.7-36.9-29.5-44.3zM256.1 446.3l-.1-381 175.9 73.3c-3.3 151.4-82.1 261.1-175.8 307.7z", :fill => "currentColor"}
              .p-6
                %h5.text-lg.font-semibold.mb-4 Safe and secure
                %p
                  Enough Email does not need access to your email inbox. Your confidential information is never sent to our servers so there is no privacy nor confidentiality concerns.
          %div
            .rounded-lg.shadow-lg.h-full.block.bg-white
              .flex.justify-center
                .p-4.bg-indigo-600.rounded-full.shadow-lg.inline-block.-mt-8
                  %svg.w-8.h-8.text-white{:viewbox => "0 0 512 512", :xmlns => "http://www.w3.org/2000/svg"}
                    %path{:d => "M505.12019,19.09375c-1.18945-5.53125-6.65819-11-12.207-12.1875C460.716,0,435.507,0,410.40747,0,307.17523,0,245.26909,55.20312,199.05238,128H94.83772c-16.34763.01562-35.55658,11.875-42.88664,26.48438L2.51562,253.29688A28.4,28.4,0,0,0,0,264a24.00867,24.00867,0,0,0,24.00582,24H127.81618l-22.47457,22.46875c-11.36521,11.36133-12.99607,32.25781,0,45.25L156.24582,406.625c11.15623,11.1875,32.15619,13.15625,45.27726,0l22.47457-22.46875V488a24.00867,24.00867,0,0,0,24.00581,24,28.55934,28.55934,0,0,0,10.707-2.51562l98.72834-49.39063c14.62888-7.29687,26.50776-26.5,26.50776-42.85937V312.79688c72.59753-46.3125,128.03493-108.40626,128.03493-211.09376C512.07526,76.5,512.07526,51.29688,505.12019,19.09375ZM384.04033,168A40,40,0,1,1,424.05,128,40.02322,40.02322,0,0,1,384.04033,168Z", :fill => "currentColor"}
              .p-6
                %h5.text-lg.font-semibold.mb-4 Extremely simple UI
                %p
                  Once set-up for your organization, you will not need to install any additional software or log in to our app. Just forward an unwanted email sample to one of our filter inboxes and we'll automatically set up filters to protect <b>everyone</b> in your organisation.