.container.mx-auto
  %h1.text-4xl.font-medium.my-6 Filter Rule Templates

  %p A way to quickly apply filters of known companies sending unwanted email.

  .mt-6.grid.grid-cols-2.md:grid-cols-3.gap-3
    - @filter_rule_templates.each do |filter_rule_template|
      .flex.flex-col.p-6.max-w-sm.bg-white.rounded-lg.border.border-gray-200.shadow-md.hover:bg-gray-100
        %h5.mb-2.text-2xl.font-bold.tracking-tight.text-gray-900= filter_rule_template.name
        %p.font-normal.text-gray-700= filter_rule_template.description
        .flex-grow.flex.items-end.py-2.text-4xl.text-indigo-900
          = filter_rule_template.patterns_count
          senders

        .mt-2
          = link_to 'Next', filter_rule_template, class: "inline-block px-7 py-3 mb-2 md:mb-0 mr-0 md:mr-2 bg-indigo-600 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-indigo-700 hover:shadow-lg focus:bg-indigo-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-indigo-800 active:shadow-lg transition duration-150 ease-in-out"